.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

#root > div.App > header > div > div.carousel.carousel-slider {
  height: 450px;
}

.carousel .slide img {
  width: auto !important;
  vertical-align: top;
  border: 0;
  height: 450px;
}

.MuiPaper-rounded {
  margin: 15px !important;
}
